.logoWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
}

/* Logo image */
.logoImage {
  height: 40px;
  width: auto;
  object-fit: contain;
  display: block;
}

/* Globe animation */
.globe {
  width: 95px;           /* ⬆️ increase globe size */
  height: 95px;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(18px) translateX(-145px);
}


/* Prevent Lottie overflow */
.globe svg {
  width: 100% !important;
  height: 100% !important;
}

